<div>
    <table style="width:100%">
        <tr>
            <th>Column:</th>
            <td *ngFor="let column of details">{{column.name}}</td>
        </tr>
        <tr>
            <th>Type:</th>
            <td *ngFor="let column of details">{{column.type}}</td>
        </tr>
    </table>
    <mat-card>
        <mat-card-header>
            Please provide details
        </mat-card-header>
        <!-- <form [formGroup]="form"> -->

        <mat-card-content>

            <form [formGroup]="form">
                <div>
                    <span>Number of records:
                        <input formControlName="record_number" required>
                    </span>
                </div>
                <div class="row-2">
                    <span class="row-2-dateTime">Select Date/Time column:
                        <select formControlName="column" class="options">
                            <option>None</option>
                            <option *ngFor="let column of columns">{{column}}</option>
                        </select>
                    </span>
                </div>
                <div>
                    <span>Primary Key:
                        <select formControlName="primary_key" class="options">
                            <option>None</option>
                            <option *ngFor="let column of columns">{{column}} </option>
                        </select>
                    </span>
                </div>
                <!-- <div>
                    <span>
                        <input formControlName="fromDate" type="date">
                    </span>
                    <span> -
                        <input formControlName="toDate" type="date">
                    </span>

                </div> -->
                <div class="btns">
                    <button mat-button (click)="next()">Generate</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>