<div>
    <mat-card>
      <mat-card-content>
        <mat-table [dataSource]="confirmData" class="mat-elevation-z8">
  
          <ng-container *ngFor="let column of displayedColumns" matColumnDef={{column}}>
            <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
            <mat-cell  *matCellDef="let element">
               <input type="text"  [value]="element[column]" (change)="add($event,element, column)">
            </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row,columns:displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
  <button (click)="confirm()">Confirm</button>
